<!-- start custom analytics snippet -->

</script><script async src="https://www.googletagmanager.com/gtag/js?id=G-NXN7KYPXZ1"></script>

<script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date()); gtag('set', 'developer_id.dZWRiYj', true); gtag('config', 'G-NXN7KYPXZ1');</script>

<script>const imageUrl = 'https://lh5.googleusercontent.com/dUCxAnRPljaj5Twr-AAsVuXOy7tmHOI1ZqIjD2iadOu-i8qMUS_XYMxyoOT0cih--Glt7pYBXPnaqwfjgL61MRM\x3dw16383';
      function bgImgLoaded() {
        if (!globals.headerBgImgLoaded) {
          globals.headerBgImgLoaded = new Date().getTime();
        } else {
          globals.headerBgImgLoaded();
        }
      }
      if (imageUrl) {
        const img = new Image();
        img.src = imageUrl;
        img.onload = bgImgLoaded;
        globals.headerBgImgExists = true;
      } else {
        globals.headerBgImgExists = false;
      }
      </script>



<!-- end custom analytics snippet -->